input {
  padding: 7px;
  width: 300px;
  margin-top: 10px;
  background-color: lightblue;
  outline: none;
  border: solid 1px greenyellow;
}

button {
  width: 200px;
  padding: 7px;
  margin-top: 10px;
}

form {
  text-align: center;
  width: 25%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.for-flex-forms {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.flex {
  display: flex;
  margin: 20px;
}

[class*="Question"] {
  color: green;
  font-weight: bold;
}