* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    border: solid 1px lightgray;
    width: 100%;
    min-height: 120px;
    background-color: lightgray;
    position: relative;
}

.logo {
    margin: 15px 150px;
}

.logo_ttl {
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    border: inset 5px lightgray;
    color: gray;
}

.log-reg{
    width: 150px;
    height: 58px;
    position: absolute;
    top: 15px;
    right: 150px;
    display: flex;
}

.log-reg-a, .log-slash {
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    padding: 7px;
    color: gray;
    font-weight: bold;
}

nav {
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.header_ul {
    width: 40%;
    height: fit-content;
    margin: auto;
    display: flex;
    list-style: none;
}

.header_li {
    width: 100%;
    margin: auto;
    text-align: center;
}

.header_links {
    text-decoration: none;
    font-size: 20px;
    color: gray;
    font-weight: bold;
    padding: 7px;
}

.header_links:hover, .log-reg-a:hover, #active{
    border-radius: 5px;
    background-color: gray;
    color: #fff;
}

/* Content */

.container {
    width: 100%;
}

/* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: gray;
}


/* Companies */

.title {
    text-align: center;
    padding: 10px;
    color: gray;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.addComp {
    margin: 10px;
    padding: 10px;
}

.form_cont {
    padding: 10px;
    margin: auto;
    width: 40%;
    border: inset 8px lightgray;
}

input {
    padding: 10px;
}

form {
    width: 50%;
    margin: auto;
    text-align: center;
}

.warning {
    color: red;
    font-size: 20px;
}