input {
    padding: 5px;
    width: 300px;
    background-color: beige;
    outline: none;
    border: solid 1px green;
}
  
button {
    width: 200px;
    padding: 5px;
    margin-top: 10px;
}
  
  
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.container{
    width: 50%;
    min-height:200px;
    background-color: aquamarine;
    border:solid 3px greenyellow;
    margin:10px auto;
    padding: 10px;
    display: flex;
}

.container2 {
    width: 50%;
    min-height:200px;
    background-color: lightgreen;
    border:solid 3px aquamarine;
    margin:10px auto;
    padding: 10px;
    display: flex;
}
 
table, td {
    border: solid 1px black;
    border-collapse: collapse;
    margin: 8px;
}
 
table td {
    padding: 8px;
}

 
form{
    margin: 8px;
}
 
.out{
    background-color: blueviolet;
    min-height: 100px;
    border: solid 1px black;
    color: white;
}
 