*{
    box-sizing: border-box;
}

.container{
    width: 70%;
    border: solid 1px black;
    margin: auto;
    display: flex;
}   

.nav {
    width: 20%;
    background-color: lightgray;
}

.nav ul li {
    margin-bottom: 10px;
}

.content {
    border: solid 1px black;
    width: 80%;
    min-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.error {
    color: red;
}
