* {
    box-sizing: border-box;
}
  
.container {
    padding: 16px;
    background-color: white;
    width:50%;
    margin: auto;
}

.title {
    text-align: center;
    color: rgb(33,24,170);
}
  
input[type=text], input[type=password], textarea {
    width: 100%;
    padding: 12px;
    margin: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
}

textarea {
    border: solid 1px #2118aa;
    background-color: #fff;
}
  
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
  
.registerbtn,.createbtn,.deletebtn{
    background-color: #2118aa;
    border-radius: 5px;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.deletebtn {
    background-color: #ca1b00 !important;
}
  
.registerbtn:hover, .createbtn:hover {
    opacity: 1;
}

.captcha {
    background: content-box radial-gradient(#2118aa, skyblue);
    border-radius: 5px;
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.lbl {
    font-weight: bold;
    color: #2118aa;
    padding: 5px;
}

#successfuly {
    border: solid 2px lightgreen;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: rgb(6, 174, 6);
    background-color: rgba(144, 238, 144, 0.464);
}

#failed {
    border: solid 2px rgb(220, 44, 0);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: rgb(120, 3, 3);
    background-color: rgba(185, 3, 3, 0.464);
}