* {
    box-sizing: border-box;
}
  
.container {
    padding: 16px;
    background-color: white;
    width:50%;
    margin: auto;
}

.title {
    text-align: center;
    color: rgb(33,24,170);
}
  
input[type=text], input[type=password], textarea {
    width: 100%;
    padding: 12px;
    margin: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
}

textarea {
    border: solid 1px #2118aa;
    background-color: #fff;
}
  
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

button {
    background-color: #2118aa;
    border-radius: 5px;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;

}

.flex {
    display: flex;
    margin: 20px;
}