table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid red;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.no {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.yes {
    color: greenyellow;
    font-weight: bold;
    font-size: 18px;
}

button, input {
    padding: 7px;
}