.container {
    border: solid #333;
    width: 50%;
    min-height: 100px;
    padding: 10px;
    margin: 10px auto;
}

form {
    width: 30%;
    margin: auto;
}

.title {
    text-align: center;
}

label {
    color: #333;
    font-weight: bold;
    padding: 5px;
    margin:10px;
}

input, textarea{
    padding: 4px;
    margin: 10px;
    width: 200px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.button {
    padding: 7px;
    margin: 10px;
    width: 150px;
}

select {
    width: 32%;
    padding: 4px;
    margin-top: 10px;
}