* {
  margin: 0;
  padding: 0;
}

.post__container {
  padding: 20px;
  margin: 10px;
  border-top: solid 2px lightgray;
  border-bottom: solid 2px lightgray;
}

.post__img {
  width: 80%;
}

.post__container>p {
  width: 80%;
  text-align: justify;
  text-justify: inter-word;
}