.content {
    border: solid 1px black;
    width: 50%;
    min-height: 100vh;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.exercise, .exercise2, .exercise3 {
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: green;
}

.exercise2 {
    color: red;
}

.exercise3 {
    color:blue;
}